








@media screen and (max-width: 1024px){
    html{
        font-size: 50%;
    }
    
    .logo h1:hover{
        transform: rotate(00deg);
        transform:scaleY(1.1);
        transition-duration: .4s;

    }
    .nav-wrap{
        flex-direction: column;
    }
    .wrapper{
        width:95%;
    }
    .menu-btn{
        display:block;
        position:absolute;
        right: 0;
        top:2rem;
        font-size: 2.9rem;
        cursor: pointer;
        width:3rem;
        height:3rem;
        background-image:url("../images/menu.png") ;
        background-size:cover;

        
    }
    .hide-menu{
        width:2rem;
        height:2rem;
        right: .4rem;
        top:2.4rem;
        background-image:url("../images/close.png");
    }
    .nav-wrap{
        position:relative;
    }
    .logo{
        width:100%;
        
    }
    ul{
        width:50%;
        height:100vh;
        background:#111;
        position:absolute;
        right:-500px;
        top:8.4rem;
        text-align: center; 
        transition:.3s linear;  ;
    }
    ul li{
        display: block;
        padding:2.6rem 0rem;
        background:#111;
        margin:0;
    }
    .ul-click{
        right:-2rem;
    }
    ul li a::after{
        display:none;
    }
}









@media screen and (max-width: 992px){
    html{

    }
}










@media screen and (max-width:768px){
    html{
        
    }
}







@media screen and (max-width:600px){
    html{
        
    }
}





@media screen and (max-width:480px){
    html{
        
    }
}




@media screen and (max-width:320px){
    html{
        
    }
}

